html,
body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    cursor: default;
}

::selection {
    background: transparent;
}

div.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    min-height: 70px;
    width: 100%;
    -webkit-app-region: drag;
}

div.brand {
    padding: 0px 60px 0px 20px;
    font-weight: 500;
    font-size: 14px;
}

.brand>.fas {
    padding: 5px;
}

.controls {
    display: flex;
    align-items: center;
}

.controls>.fas {
    padding: 10px;
}

.seek {
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    -webkit-app-region: no-drag;
}

.seek>.slidecontainer {
    align-self: flex-end;
}

.fa-pink {
    color: #e64980;
}

.fa-fade {
    color: #555;
}

.fa-fader {
    color: #999;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2px;
    height: 35px;
    border-radius: 0%;
    background: #e64980;
    cursor: pointer;
    margin-bottom: 33px;
}

div.body {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    background: #f9f9f9;
}

h1 {
    font-weight: 300;
}

.sidenav {
    min-width: 200px;
    padding: 30px 10px;
}

.sidenav>ul {
    list-style-type: none;
    font-weight: 500;
    color: #777;
    margin: 50px 0 0 0;
    padding: 0;
}

.sidenav>ul>li {
    margin: 25px 0 25px 20px;
}

.sidenav>ul>li.selected {
    color: #e64980;
}

.container-fluid {
    padding: 30px;
    overflow-y: scroll;
}

.form-group {
    height: auto;
}

.search {
    border-radius: 20px;
    border: 0px transparent;
    background: #f2f2f2;
    padding: 10px 20px;
}

.search::placeholder {
    color: #aaa;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.songgrid {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.brand>.fas.play {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 4s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    5% {
        transform: translate(0px, 0px) rotate(20deg);
    }
    10% {
        transform: translate(0px, 0px) rotate(-20deg);
    }
    15% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.or-spacer-vertical {
    display: inline-block;
    margin: 15px 0;
    width: 20px;
    position: relative;
}

.or-spacer-vertical .mask {
    overflow: hidden;
    width: 10px;
    height: 100%;
}

.or-spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 10px;
    width: 10px;
    height: 100%;
    border-radius: 8px / 825px;
    box-shadow: 0 0 4px #aaa;
}